---

---

<header>
	<a href="/">
		<h1>Luca Schneider</h1>
	</a>
</header>
<style>
	a {
		text-decoration: none;
		color: inherit;
	}
	a:hover {
		color: hsl(35, 71%, 53%);
	}
	header {
		min-height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		text-align: center;
		font-size: 4rem;
		font-family: "horganite";
	}
</style>
